.result-body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(160deg, rgba(255,255,255,1) 50%, rgb(0, 76, 2) 50%);}

* {
  margin: 0;
  padding: 0;
}

h1 {
  padding: 25px;
  color: rgb(0, 76, 2);
  font-size: 4rem;
}
